In [17]:

''' single code , double code , triple code diyeo 
kaj kora ba access kora jay string er '''

demo1='shofikul'
demo2="shofikul"
demo3='''shofikul'''
print(demo1)
print(demo2)
print(demo3)

shofikul
shofikul
shofikul

In [18]:

# practice

text='hello shofikul'
print(text[-1])

l

In [19]:
 
text= "Hello World"
print(text[0:7])

text='shofiul islam'
print(text[0:5])

Hello W
shofi

In [20]:

text='shofiul islam'
print(text[5:])

ul islam

In [21]:

x='shofikul '
y="islam " 
z=''' jamalpur'''
print(x+y+z)

shofikul islam  jamalpur

In [22]:
string1='shofikul   '
string2='islam '
combined=string1+string2
print(combined)

shofikul   islam

In [23]:


string1='hello'
string2='world'

combined=string1+ ' ' +string2
print(combined)

hello world

In [24]:

''' string   ar  akta  value ke 
  onno value  diye change kora jaina 
  tai error asbe '''

# text='hello world'
# text[0]='a'
# print(text)

' string   ar  akta  value ke \n  onno value  diye change kora jaina \n  tai error asbe '

In [25]:
a=10
x=10
y=3.1416
b=20
c=5.67
print('addition:' ,a+b)
print('substruction:', a-b)
print('multiplication:' ,a*b)
print('Division:' ,a/b)
print('Modulas:' ,a+b)

addition: 30
substruction: -10
multiplication: 200
Division: 0.5
Modulas: 30

In [26]:
# Math or Number Arithmetic calculation
a=10
x=10
y=3.1416

b=20
c=5.67

print("Addition:",a+b)
print("Subtraction:",a-b)
print("Multiplication:",a*b)
print("Division:",a/b)
print("Modulus:",a%b)

Addition: 30
Subtraction: -10
Multiplication: 200
Division: 0.5
Modulus: 10

In [27]:
# import turtle
# tom=turtle.Turtle()
# print(tom.circle(100))
# print(tom)

In [28]:
# string repeatation

text='shofikul  '

many=text*10
print(many)

shofikul  shofikul  shofikul  shofikul  shofikul  shofikul  shofikul  shofikul  shofikul  shofikul

In [29]:
text='shofikul  '
repeat=text*10
print(repeat)

shofikul  shofikul  shofikul  shofikul  shofikul  shofikul  shofikul  shofikul  shofikul  shofikul

In [30]:


class Myclss:          #  clss   er    nam ta  capital letter  a   ditye  hoy 
    x=10
    y=30
    z=40
    sum=x+y+z


obj1=Myclss()                #aitake object bola  hoy
print(obj1.x)

10

In [31]:


class Myclss:          #  clss   er    nam ta  capital letter  a   ditye  hoy 
    x=10
    y=30
    z=40
    sum=x+y+z


obj1=Myclss()                #aitake object bola  hoy
print(obj1.y)

30

In [32]:


class Myclss:          #  clss   er    nam ta  capital letter  a   ditye  hoy 
    x=10
    y=30
    z=40
    sum=x+y+z


obj1=Myclss()                #aitake object bola  hoy
print(obj1.z)

40

In [34]:


class Myclss:          #  clss   er    nam ta  capital letter  a   ditye  hoy 
    x=10
    y=30
    z=40
    sum=x+y+z


obj1=Myclss()                #aitake object bola  hoy
print(obj1.x)
print(obj1.y)
print(obj1.z)
print(obj1.sum)

10
30
40
80

In [41]:
# class


class Myclss:          #  clss   er    nam ta  capital letter  a   ditye  hoy
    x=10
    y=30
    z=40
    sum=x+y+z


obj1=Myclss()                #aitake object bola  hoy
print(obj1.x)


obj2=Myclss()                #aitake object bola  hoy
print(obj1.y)



obj2=Myclss()                #aitake object bola  hoy
print(obj1.z)


obj1=Myclss()                #aitake object bola  hoy
print('class holo blueprint jar first variable value' , obj1.x)
print('class holo blueprint jar    Second variable value' , obj1.y)
print('class holo blueprint  jar   Third variable value' , obj1.z)
print('class holo blueprint jar   sum  variable value' , obj1.sum)

10
30
40
class holo blueprint jar first variable value 10
class holo blueprint jar    Second variable value 30
class holo blueprint  jar   Third variable value 40
class holo blueprint jar   sum  variable value 80

In [1]:

class Myclss:          #  clss   er    nam ta  capital letter  a   ditye  hoy
    x=10
    y=20
    #z=100

    def __init__(self,zValue,xValue):
        self.z=zValue
        self.x=xValue

    def addTwo(self):
        print(self.x+self.y+self.z)


obj =Myclss(100 , 5)
obj.addTwo()

125

In [2]:
class Myclss:          #  clss   er    nam ta  capital letter  a   ditye  hoy
    x=10
    y=20
    z=30

    def addTwo(self,a,b):
        sum=self.x+self.y+self.z+a+b
        print(sum)

    def addNew(self):
        self.addTwo(5,6)


obj =Myclss()
obj.addTwo(30,50)
obj.addNew()

140
71

In [ ]:
class Myclss:          #  clss   er    nam ta  capital letter  a   ditye  hoy
    x=10
    y=20
    @staticmethod
    def addTwo():
        z=Myclss.x+Myclss.y
        print(z)
Myclss.addTwo()


#  static variable 
class Myclas:
    x=10
    y=20
    @staticmethod
    def addTwo():
        z=Myclas.x+Myclas.y
        print(z)
print(Myclas.x)
print(Myclas.y)
obj=Myclas()
print(obj.x)
print(obj.y)

30

In [14]:


#  static variable 
class Myclas:
    x=10
    y=20
    @staticmethod
    def addTwo():
        z=Myclas.x+Myclas.y
        print(z)
print(Myclas.x)
print(Myclas.y)
obj=Myclas()
print(obj.x)
print(obj.y)

10
20
10
20